<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>FIS Coding</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-edu-meeting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lightbox.css') }}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

   

  <!-- Sub Header -->
<!-- <  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          FIS CODING
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="has-sub">
                          <a href="avascript:void(0)">Webinar</a>
                          <ul class="sub-menu">
                              <li><a href="meetings">Akan Datang</a></li>
                              <li><a href="meeting-details">Detail Webinar</a></li>
                          </ul>
                        </li>
                        <li><a href="/">Artikel</a></li>
                        <li><a href="/">Kursus</a></li> 
                        <li><a href="/">Kontak</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Inilah Webinar Mendatang Kami</h6>
          <h2>Webinar Yang Akan Datang</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">Semua Webinar</li>
                  <li data-filter=".soon">Akan Datang</li>
                  <li data-filter=".imp">Penting</li>
                  <!-- <li data-filter=".att">Attractive</li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                {% for a in data %}
                  <div class="col-lg-4 templatemo-item-col all soon">
                    <div class="meeting-item">
                      <div class="thumb">
                        <div class="price">
                          <span>{{a.3}}</span>
                        </div>
                        <a href="/meeting-details/{{a.0}}"><img src="static/images/{{a.10}}" alt=""></a>
                      </div>
                      <div class="down-content">
                        <div class="date">
                          <h6>{{a.6}}</h6>
                        </div>
                        <a href="/meeting-details/{{a.0}}"><h4>{{a.1}}</h4></a>
                        <p>{{a.2}}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                
                <!-- <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>Rp250.000</span>
                      </div>
                      <a href="meetings"><img src="static/images/meeting-02.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>14</span></h6>
                      </div>
                      <a href="meetings"><h4>Pengembangan Web Backend</h4></a>
                      <p>Yuk, tingkatkan daya saingmu dengan mengikuti kelas online bareng <strong>FIS CODING</strong> Akses dimana saja, kapan saja!</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>Rp300.000</span>
                      </div>
                      <a href="meetings"><img src="static/images/meeting-03.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>16</span></h6>
                      </div>
                      <a href="meetings"><h4>Pengembangan Web Fullstack</h4></a>
                      <p>Belajar materi kelas Full-Stack Web Developer secara online dan gratis berkonsultasi dengan mentor yang berpengalaman pada bidangnya di <strong>FIS CODING.</strong></p>
                    </div>
                  </div>
                </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lightbox.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tabs.js') }}"></script>
    <script src="{{ url_for('static',filename='js/isotope.js') }}"></script>
    <script src="{{ url_for('static',filename='js/video.js') }}"></script>
    <script src="{{ url_for('static',filename='js/slick-slider.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
